*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background: url(1.jpg) no-repeat;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

nav{
    font-family: "Georgia";
    background: #1E90FF;
    height: 80px;
}
