body{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: url(1.jpg) no-repeat;
}

table{
    overflow: scroll;
    display: block;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    border-collapse: collapse;
    width: 770px;
    height: 700px;
    border: 2px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

tr{
    transition:  all .2s ease-in;
    cursor: pointer;
}

td, tr{
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tbody{
    background-color: #fff;
}

#header{
    position: sticky;
    top: 0;
    background-color: #1E90FF;
    color: #fff;
}

tr:hover{
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    color:  #1E90FF;
}

@media only screen and (max-width: 768px){
    table {
        width: 90%;
    }
}

button{
    display: block;
    margin: 10px 10px 10px 10px;
    border: 2px solid #FFFF;
    background: #7FFF00;
    padding: 5px 5px;
    font-size: 17px;
    font-family: "Georgia", "Comic Sans", cursive;
    font-weight: bold;
    cursor: pointer;
    transition: 0.8s;
    color: #1E90FF;
    border-radius: 50px;
    height: 50px;
}

button:hover{
    border: 1px solid #fff;
	background: #1E90FF;
	color: #7FFF00;
}
