body{
    padding: 0;
    margin: 0;
    background: url(1.jpg) no-repeat;
}

button{
    display: block;
    margin: 20px 20px 20px 20px;
    border: 2px solid #FFFF;
    background: rgb(255, 255, 255);
    padding: 5px 5px;
    font-size: 17px;
    font-family: "Georgia", "Comic Sans", cursive;
    font-weight: bold;
    cursor: pointer;
    transition: 0.8s;
    position: hidden;
    color: #1E90FF;
}

button:hover{
    border: 1px solid #fff;
	background: #1E90FF;
	color: #fff;
}

#visibleFeedbacks{
    width: 500px;
    height: 300px;
    padding: 15px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

textarea{
    width: 350px;
    height: 85px;
    border-color: steelblue;
    resize: none;
    font-weight: bold;
    color: black;
}

p{
    font-family: "Lucida Console", "Courier New", monospace;
    color: black;
    font-weight: bold;
}

div{
    border: solid;
    width: 370px;
    height: 140px;
    margin-bottom: 10px;
    background-color: lightblue;
    display: block;
    text-align: center;
}


