body{
    background: url(4.jpg) repeat;
}

.registration-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

.registration-form .p1{
    font-size: 20px;
    margin: 10px 0;
    color: white;
}

.registration-form .p2{
    font-size: 20px;
}

.registration-form input{
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 15px;
    outline: none;
}

input:hover{
     border: 1px solid #fff;
	background: #1E90FF;
    color: black;
    transition: 0.5s;
}

.registration-form #login{
    border: 2px solid #FFFF;
	background: white;
	padding: 5px 5px;
	font-size: 17px;
	font-family: "Georgia", "Comic Sans", cursive;
	margin: 5px;
	cursor: pointer;
    transition: 0.8s;
    width: 75px;
    height: 35px;
	position: hidden;
    color: #1E90FF;
    border-radius: 15px;
}

.registration-form #registration{
    border: 2px solid #FFFF;
	background: white;
	padding: 5px 5px;
	font-size: 17px;
	font-family: "Georgia", "Comic Sans", cursive;
	margin: 7px;
	cursor: pointer;
    transition: 0.8s;
    width: 210px;
    height: 35px;
	position: hidden;
    color:rgb(106, 255, 47);
    border-radius: 15px;
}

.registration-form #login:hover{
    border: 1px solid #fff;
	background: #1E90FF;
	color: #fff;
}

.registration-form #registration:hover{
    border: 1px solid #fff;
	background: rgb(106, 255, 47);
	color: white;
}