body{
    background: url(4.jpg) repeat;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 350px;
}

form p{
    font-size: 20px;
    margin: 10px 0;
    color: white;
}

form input{
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 15px;
    outline: none;
}

form input:hover{
    border: 1px solid #fff;
    background: #1E90FF;
    color: black;
    transition: 0.5s;
}

form .s{
    border: 2px solid #FFFF;
	background: white;
	padding: 1px 1px;
	font-size: 15px;
	font-family: "Georgia", "Comic Sans", cursive;
    margin: 2px;
    width: 125px;
    height: 35px;
	cursor: pointer;
    transition: 0.8s;
	position: hidden;
    color: #1E90FF;
    border-radius: 15px;
}

form .c{
    border: 2px solid #FFFF;
    background: white;
	padding: 1px 1px;
	font-size: 15px;
    font-family: "Georgia", "Comic Sans", cursive;
    margin: 5px;
    width: 60px;
    height: 35px;
    cursor: pointer;
    transition: 0.8s;
	position: hidden;
    color: #1E90FF;
    border-radius: 15px;
}

form button:hover{
    border: 1px solid #fff;
	background: #1E90FF;
	color: #fff;
}