body{
    background: purple;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
}

h1{
	position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 350px;
}

button{
    border: 3px solid #FFFF;
	background: white;
	padding: 2px 2px;
	cursor: pointer;
	transition: 0.8s;
	position: hidden;
    color: purple;
	font-family: "Georgia", "Comic Sans", cursive;
	margin: 5px;
	font-size: 25px;
}

button:hover{
    border: 3px solid #fff;
	background: purple;
	color: #fff;
}

.recipes, .orders {
	display:inline-block;
}


